{% extends 'base.html' %}
{% block head %} 
    <link rel="stylesheet" href="../static/style.css">
    <title>MedBase</title>
{% endblock %}

{% block body %}
    <div class = "container">
      <div style = 'display: inline; width = 100% '>
        <a href="/logout" class = 'btn'>Logout</a>
        <a href = '/querry' class = 'btn' style = 'float:right;'>Cautare Pacient</a>
        </div>
        
        <img src="../static/logo_med.png" alt="MedBase" class = "logo">
        {% if message %}
            <p class = "message"> {{message | safe}} <p>
        {%endif%}
        <form action = "/submit" method = "POST">
          <div class="form-group">
          <h3>Customer Name</h3>
          <input
            type="text"
            name="name"
            placeholder="Numele si prenumele pacientului"
          />
        </div>
         <div class="form-group">
          <h3>Varsta</h3>
          <input type = 'text' name="age">
        </div>
        <div class="form-group">
          <h3>Boli</h3>
          <input type="checkbox" name="Hepatita" value="Hepatita"  /> Hepatita </br>
          <input type="checkbox" name="Insuficienta cardiaca" value="Insuficienta cardiaca" /> Insuficienta cardiaca </br>
          <input type="checkbox" name="Accident vascular cerebral" value="Accident vascular cerebral" /> Accident vascular cerebral </br>
          <input type="checkbox" name="Hipertensiune" value="Hipertensiune" /> Hipertensiune </br>
          <input type="checkbox" name="Hipotensiune" value="Hipotensiune" /> Hipotensiune </br>
          <input type="checkbox" name="Boala Parkinson" value="Boala Parkinson" /> Boala Parkinson </br>
          <input type="checkbox" name="Ciroza hepatica" value="Ciroza hepatica" /> Ciroza hepatica </br>
          <input type="checkbox" name="Epilepsie" value="Epilepsie" /> Epilepsie </br>
          <input type="checkbox" name="Poliartrita reumatoida" value="Poliartrita reumatoida" /> Poliartrita reumatoida </br>
          <input type="checkbox" name="Scleroza multipla" value="Scleroza multipla"  /> Scleroza multipla </br>
        </div>
         <div class="form-group">
          <h3>Comentarii</h3>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Descrierea pacientului la consultatie"
          ></textarea>
        </div>
        <input type="submit" value="Submit" class="btn" />
        </form>
    </div>
{% endblock %}