{% extends 'base.html' %}
{% block head %} 
    <link rel="stylesheet" href="../static/style.css" />
    <title>Login</title>
{% endblock %}
<!--
<label for="username">Username:</label>
        <input type="text" id="username" name="username" value = "{% if 'username' in request.cookies%} {{request.cookies.get('username')}} {% endif %}"><br>
        <label for="password">Password:</label>
        <input type="password" class = 'pw' id="password" name="password" value = "{% if 'password' in request.cookies%} {{request.cookies.get('password')}} {% endif %}"><br>
        <div>
         <label for="Tine-ma minte">Tine-ma minte</label>
        <input type = "checkbox" id = "remember" name = "remember" autocomplete="off" checked="{% if 'remember' in request.cookies %} {{ request.cookies.get('remember') }} {% endif %}">
        </div>
        <input type="submit" value="Login" class = "btn"> <br>

  L-am scos si am adaugat un link
  <form action="/signup" method = "POST">
  <input type="submit" value="Sign Up" class = "btn" > <br>
  </form>

-->
{% block body %}
<div class="container">
        <img src="../static/logo_med.png" alt="" class="logo" />

         {% if message %}
            <p class = "message"> {{message | safe}} <p>
        {%endif%}
        <form action="/login_succes" method = "POST">
        <label for="username">Username:</label>
         <input type="text" id="username" name="username" value = "{% if 'username' in request.cookies%}{{request.cookies.get('username')}}{% endif %}"><br>
        <label for="password">Password:</label>
        <input type="password" class = 'pw' id="password" name="password" value = "{% if 'password' in request.cookies %}{{request.cookies.get('password')}}{% endif %}"><br>
       <div>
         
         <div>
         <label for="Tine-ma minte">Tine-ma minte</label>
         
        <input type = "checkbox" id = "remember" name = "remember" autocomplete="off" value = "Yes" checked="{% if 'remember' in request.cookies %} {{request.cookies.get('remember')}} {% endif %}">
        
        </div>
        </div style = 'width:100%'>
        <div style = 'display: inline; width = 100% '>
        <input type="submit" value="Login" class = "btn" style = 'width:50%;  float: left;' > <br>
        <a href = '/signup' class = 'btn' style = 'float:left; margin-top: -9.5px;'>Sign Up</a>
        </div>
  </form>

</div>
{% endblock %}