{% extends 'base.html' %}
{% block head %} 
    <link rel="stylesheet" href="../static/style.css" />
    <title>Login</title>
{% endblock %}
<!--
  Asta era bagat mai jos, doar ca testez ceva acu'
  <label for="username">Username:</label>
        <input type="text" id="username" name="username" value = "{% if 'username' in request.cookies%} {{request.cookies.get('username')}} {% endif %}"><br>
        <label for="password">Password:</label>
        <input type="password" class = 'pw' id="password" name="password" value = "{% if 'password' in request.cookies%} {{request.cookies.get('password')}} {% endif %}"><br>
        <div>
         <label for="Tine-ma minte">Tine-ma minte</label>
        <input type = "checkbox" id = "remember" name = "remember" checked="{% if 'remember' in request.cookies %} {{ request.cookies.get('remember') }} {% endif %}">
        </div>

-->
{% block body %}
<div class="container">
        <img src="../static/logo_med.png" alt="" class="logo" />

         {% if message %}
            <p class = "message"> {{message | safe}} <p>
        {%endif%}
        <form action="/login_succes" method = "POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" ><br>
        <label for="password">Password:</label>
        <input type="password" class = 'pw' id="password" name="password" ><br>
       
        <input type="submit" value="Login" class = "btn"> <br>
  </form>
  <form action="/signup" method = "POST">
  <input type="submit" value="Sign Up" class = "btn"> <br>
  </form>
</div>
{% endblock %}