{% extends 'base.html' %}
{% block head %} 
    <link rel="stylesheet" href="../static/style.css">
    <title>Interogare Baza De Date</title>
{% endblock %}

{% block body %}
  <div class="container" >
      <a href="/login_succes" class = 'btn' method = 'POST'>Inapoi</a>
      <img src="../static/logo_med.png" alt="" class="logo" /> </br>
      <div>
        <input type = 'text' placeholder = 'Introduceti ...' class = 'CNP' style = 'float:left'>
        <a href = '/querry' class = 'btn' style = 'float:left; margin-top: 0px' >Cauta</a>
      </div>
  </div>
{% endblock %}